<div class="modal modal-blur fade" id="modal-inmuebles" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isModalAdd ? "Agregar" : "Actualizar" }} inmueble
        </h5>
        <button #closebutton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="inmueblesForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label">Área de Origen*:</label>
                <ng-select 
                  formControlName="areaOrigen" 
                  #selectAreaOrigen 
                  [searchable]="false" 
                  [items]="areas"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false">
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="selectAreaOrigen.filter($any($event.target).value)" />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                <div *ngIf="inmueblesForm.get('areaOrigen')?.touched" class="error-message">
                  <div *ngIf="inmueblesForm.get('areaOrigen')?.hasError('required')">
                    El área de origen es requerida
                  </div>
                </div>
              </div>
              
              <div class="mb-3">
                <label class="form-label">Área de Destino*:</label>
                <ng-select 
                  formControlName="areaDestino" 
                  #selectAreaDestino 
                  [searchable]="false" 
                  [items]="areas"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false">
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="selectAreaDestino.filter($any($event.target).value)" />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                <div *ngIf="inmueblesForm.get('areaDestino')?.touched" class="error-message">
                  <div *ngIf="inmueblesForm.get('areaDestino')?.hasError('required')">
                    El área de destino es requerida
                  </div>
                </div>
              </div>

              <!-- Resto del formulario -->
              <div class="mb-3">
                <label class="form-label">Inmuebles de la zona*:</label>
                <ng-select 
                  formControlName="inmueble" 
                  #selectInmuebles
                  [searchable]="false" 
                  [items]="inmuebles"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false">
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="selectInmuebles.filter($any($event.target).value)" />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                <div *ngIf="inmueblesForm.get('inmueble')?.touched" class="error-message">
                  <div *ngIf="inmueblesForm.get('inmueble')?.hasError('required')">
                    El inmueble debe ser seleccionado
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Cantidad*:</label>
                <ngx-slider formControlName="cantidad" [value]="sliderValue" [options]="sliderOptions"></ngx-slider>
                <div>
                  Valor del slider: {{ inmueblesForm.get('cantidad')?.value }}
                </div>
                <div *ngIf="inmueblesForm.get('cantidad')?.touched" class="error-message">
                  <div *ngIf="inmueblesForm.get('cantidad')?.hasError('required')">
                    La cantidad es obligatoria
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="form-label" style="margin-left: 20px; color: red; font-weight: bold">
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!inmueblesForm.valid">
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
