<ngx-spinner bdColor="rgba(0, 0, 0, 0.41)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Traslados"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modal-inmuebles"
            (click)="handleChangeAdd()">
            <i class="ti ti-plus me-1"></i>Agregar
          </button>
          <div class="ms-auto d-flex align-items-center">
            <div class="input-icon">
              <input #searchItem class="form-control form-control-rounded" placeholder="Buscar" type="text"
                (input)="handleChangeSearch($event)" />
              <span class="input-icon-addon">
                <i class="ti ti-search"></i>
              </span>
            </div>
            <a class="btn w-30 btn-icon" aria-label="Dribbble" title="Descargar excel de inmuebles"
              (click)="exportarDatosAExcel()" style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px">
              <i class="ti ti-cloud-down text-muted" style="font-size: 28px"></i>
            </a>
          </div>
        </div>
      </div>
      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-vcenter card-table table-striped">
            <thead>
              <tr>
                <th style="text-transform: none; font-size: inherit" class="text-center">
                  #
                </th>
                <th style="text-transform: none; font-size: inherit">Nombre de inmueble</th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Area destino
                </th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Area origen
                </th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Usuario
                </th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Fecha
                </th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Hora
                </th>
                <th style="text-transform: none; font-size: inherit" class="w-1">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let traslado of trasladosFilter | paginate: configPaginator; let pointIndex = index">
                <td class="text-center">
                  {{
                    configPaginator.itemsPerPage *
                      (configPaginator.currentPage - 1) +
                      pointIndex +
                      1
                  }}
                </td>
                <td class="text-muted">{{ traslado.inmueble?.nombre }}</td>
                <td class="text-muted">{{ traslado.areaDestino.nombre }}</td>  <!-- Display the name of the destination area -->
                <td class="text-muted">{{ traslado.areaOrigen.nombre }}</td> <!-- Display the name of the origin area -->
                <td class="text-muted">{{ traslado.usuario?.nombre }}</td>
                <td class="text-muted">{{ traslado.fechaHoraCreacion | date:'yyyy-MM-dd ' }}</td>
                <td class="text-muted">{{ traslado.fechaHoraCreacion| date:'HH:mm:ss' }}</td>
            
                <td>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal"
                      data-bs-target="#modal-inmuebles" (click)="setDataModalUpdate(traslado)">
                      <i class="ti ti-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-icon btn-sm" (click)="deleteItem(traslado.id)">
                      <i class="ti ti-eraser"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total de registros: <b>{{ trasladosFilter.length }}</b>
        </p>
        <div class="m-0 ms-auto">
          <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-inmuebles" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isModalAdd ? "Agregar" : "Actualizar" }} traslado
        </h5>
        <button #closebutton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="trasladoForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label">Area de origen*:</label>
                <ng-select 
                  formControlName="areaOrigen" 
                  #selectareas 
                  [searchable]="false" 
                  [items]="areas"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false"
                  (change)="inmuebleporarea($event?.id)">
                  
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="selectareas.filter($any($event.target).value)" />
                  </ng-template>
                  
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                
                <div *ngIf="trasladoForm.get('areaOrigen')?.touched" class="error-message">
                  <div *ngIf="trasladoForm.get('areaOrigen')?.hasError('required')">
                    El area de origen es obligatoria
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Area de destino*:</label>
                <ng-select 
                  formControlName="areaDestino" 
                  #selectareas 
                  [searchable]="false" 
                  [items]="areas"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false">
                  
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="selectareas.filter($any($event.target).value)" />
                  </ng-template>
                  
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                
                <div *ngIf="trasladoForm.get('areaDestino')?.touched" class="error-message">
                  <div *ngIf="trasladoForm.get('areaDestino')?.hasError('required')">
                    El area de destino es requerido
                  </div>
                </div>
              </div>
              
              <div class="mb-3">
                <label class="form-label">Inmuebles de la zona*:</label>
                <ng-select 
                  formControlName="inmueble" 
                  #inmueblesZona 
                  [searchable]="false" 
                  [items]="inmuebles"
                  bindLabel="nombre" 
                  bindValue="id" 
                  placeholder="Elegir" 
                  [clearable]="false"
                  >
                  
                  <ng-template ng-header-tmp>
                    <input class="form-control" type="text" (input)="inmueblesZona.filter($any($event.target).value)" />
                  </ng-template>
                  
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                
                <div *ngIf="trasladoForm.get('inmueblesZona')?.touched" class="error-message">
                  <div *ngIf="trasladoForm.get('inmueblesZona')?.hasError('required')">
                    El inmueble debe ser seleccionado
                  </div>
                </div>
              </div>
              <form [formGroup]="cantidadForm">
              <div class="mb-3">
                <label class="form-label">Cantidad*:</label>
                <ngx-slider formControlName="cantidad" [value]="sliderValue" [options]="sliderOptions"></ngx-slider>
                <div>
                  Valor del slider: {{ cantidadForm.get('cantidad')?.value }}
                </div>
                <div *ngIf="cantidadForm.get('cantidad')?.touched" class="error-message">
                  <div *ngIf="cantidadForm.get('cantidad')?.hasError('required')">
                    La cantidad es obligatoria
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
        <p class="form-label" style="margin-left: 20px; color: red; font-weight: bold">
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!trasladoForm.valid">
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
