body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card2 {
  flex: 1;
  padding: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4d8bff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .left-card {
    display: none;
  }
  .right-card {
    padding-top: 10%;
    /* o cualquier otro valor que desees para dispositivos móviles */
  }
}
